<section class="education-section">
  <h2>🎓 Education</h2>

  <div class="card edu-card">
    <h3>Master’s in Advance Computer Science with Year in Industry</h3>
    <h4>University of Liverpool, UK</h4>
    <span class="duration">2023 – 2025</span>
    <p>Key Modules: Algorithms, Cloud Computing, Data Mining, AI</p>
  </div>

  <div class="card edu-card">
    <h3>Bachelor of Engineering Computer Science with Honours in AI-ML</h3>
    <h4>Savitribai Phule Pune University, India</h4>
    <span class="duration">2019 – 2023</span>
    <p>First Class with Distinction.</p>
    <p> on Data Science, NLP, Deep Learning.</p>
  </div>
</section>
