<section class="experience-section">
  <h2>💼 Professional Experience</h2>

  <div class="exp-card">
    <h3>Full Stack Developer Intern</h3>
    <h4>SLB, Abingdon</h4>
    <span class="duration">Jul 2024 – Aug 2025</span>
    <ul>
      <li>Internship part of year in Industry module of master's degree</li>
      <li>Developed backend services using <strong>Go</strong> and frontend with <strong>Angular</strong>.</li>
      <li>Worked on a methane emissions detection platform.</li>
      <li>Performed API testing and developed a proof of concept to automate the addition of Point Instrument.</li>
      <li>Resolved software bugs and implemented fixes.</li>
      <li>Handled SRE tasks including secret rotation, Trivy and Mend scan.</li>
      <li>Collaborated in Agile sprints, participating in daily stand-ups, sprint planning, and retrospectives to
       deliver features on schedule</li>
      <li>Wrote technical documentation for new features and workflows, improving team knowledge sharing</li>
      <li>Conducted comprehensive <strong>API testing</strong> and debugging to ensure high-quality software delivery.</li>
      <li>Participated in recruitment interviews for interns, contributing to team growth and candidate evaluation.</li>
    </ul>
  </div>
</section>
